<app-alert status="success">
    <p>Mon message</p>
</app-alert>
<app-alert status="danger" (answer)="onAnswer($event)">
    <h1>Mon autre message</h1>
</app-alert>

<form [formGroup]="fg">
    <input [nbDatepicker]="dp" type="text" formControlName="date">
    <nb-datepicker #dp ></nb-datepicker>
    <p *ngIf="fg.controls['date'].invalid">
        {{fg.controls['date'].errors['notBeforeError']}}
    </p>
</form>
