<nb-list>
    <nb-list-item *ngFor="let item of model.results">
        <a (click)="onClick(item.url)">{{ item.name }}</a>
    </nb-list-item>
</nb-list>

<app-demo3-details [url]="temp"></app-demo3-details>
