<nb-layout>

  <nb-layout-header fixed>
    <h1>Demo Angular</h1>
  </nb-layout-header>
  <nb-sidebar>
    <app-nav></app-nav>
  </nb-sidebar>
  <nb-layout-column>

    <p>Ici vous êtes dans le app-component</p>
    
    <div>
      <p>Ici le composant sera dynamique en fonction de la route</p>
      <router-outlet></router-outlet>
    </div>
  </nb-layout-column>

  <nb-layout-footer fixed>
  <p>&copy; BSTORM 2020</p>
  </nb-layout-footer>

</nb-layout>
