<p>la valeur du nombre est : {{nombre}}</p>

<button nbButton status="primary" (click)="decrease()" [disabled]="nombre <= 0">-</button>
<button nbButton (click)="increase()" [disabled]="nombre >= 9">+</button>
