<p>demo1 works!</p>

<p>Ici une demo d'un binding 1 way</p>
<p>Hello {{ maVariable | uppercase }} !!!</p>

<p>{{maVariable1 | number: '3.2-2'}}</p>

<p>{{maVariable2 | date: 'dd/MM/yyyy'}}</p>

<p>{{maVariable3 | toTime}}</p>

<p>Ici une demo d'un binding 2 ways</p>
<input nbInput [(ngModel)]="maVariable">
