.alert {
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    color: black;
}

.danger {
    background-color: red;
    color: white;
}

.success {
    background-color: green;
    color: white;
}