<!-- <p>Nav-Component</p>
<ul>
    <li><a routerLink="/home">Home</a></li>
    <li><a routerLink="/about">About</a></li>
    <li><a routerLink="/demo">Demo</a>
        <ul>
            <li><a [routerLink]="'/demo/demo1'">Demo1 - Bindings</a></li>
            <li><a routerLink="/demo/demo2">Demo2 - Events</a></li>
        </ul>
    </li>
</ul> -->

<nb-menu [items]="items"></nb-menu>